aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.7.1
CacheControl==0.12.5
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
dnspython==1.16.0
firebase-admin==2.16.0
geojson==2.4.1
google==2.0.2
google-api-core==1.10.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-firestore==1.1.0
google-cloud-storage==1.15.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
googlemaps==3.0.2
grpcio==1.20.1
idna==2.8
idna-ssl==1.1.0
msgpack==0.6.1
multidict==4.5.2
nltk==3.4.1
pkg-resources==0.0.0
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pyenchant==2.0.0
pymongo==3.8.0
pyowm==2.10.0
pytz==2019.1
requests==2.21.0
rsa==4.0
six==1.12.0
soupsieve==1.9.1
telepot==12.7
typing-extensions==3.7.2
urllib3==1.24.3
yarl==1.3.0
